html{
    min-height:100%;
    position: relative;
}

* {
    font-family: monospace;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.rightside {
    /* position: relative; */
    background-color: rgba(128, 128, 128, 0.24);
    min-height:100vh;
}

.username {
    font-weight: 800;
    color: #4682b4;
}

.you {
    font-weight: 800;
}

.recv-msg-div {
    word-wrap: break-word;
    font-family: monospace;
    background-color: #add8e6;
    float: left;
    clear: both;
    padding: 1% 1% 0 1%;
    margin-top: 1%;
    margin-bottom:1%;
    max-width: 50%;
    border-radius:10px;
}

.sent-msg-div {
    word-wrap: break-word;
    font-family: monospace;
    background-color: #fafafa;
    float: right;
    clear: both;
    padding: 1% 1% 0 1%;
    margin-top: 1%;
    margin-bottom:1%;
    max-width: 50%;
    border-radius:10px;
}

.time {
    text-align: right;
    padding-bottom: 1%;
}

.input-msg-div {
    /* position:sticky; */
    bottom:0;
    background-color: #fafafa;
    width:100%;
}

.input-msg-div input {
    width:100%;
    font-size: .875rem;
}

.input-msg-div button {
    width:100%;
    border:none;
    border-radius: 10px;
}

.input-msg-div img {
    width:25%;
    height:25%;
}