body {
    background-color: #add8e6;
    font-family: monospace;
}

.log-in-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: auto;
    background: rgba(255, 255, 255, 0.841);
    border-radius: 5%;
    padding: 2% 0 0 4%;
    border: 2px solid black;
    overflow: hidden;
}

.log-in-screen h1 {
    /* text-align: center; */
    color: rgb(70, 74, 76);
    text-transform:uppercase;
    font-size:54px;
    letter-spacing:1.5px;
    font-weight:800;
}

.log-in-screen h2 {
    /* text-align: center; */
    color: rgba(70, 74, 76, 0.793);
    /* text-transform:uppercase; */
    font-size:38px;
    letter-spacing:1.5px;
    font-weight:800;
}

.log-in-screen p {
    color: rgb(110, 117, 123);
    font-size:17px;
    margin:0;
    margin-top:5px;
}

.log-in-screen h2 {
    margin-top: 5%;
    margin-bottom: 2%;
}

.log-in-button {
    text-align: center;
}

.log-in-screen button {
    background-color: #0b7ea4;
    width: 25%;
    max-height:50%;
    margin-top:10% !important;
    margin-bottom:5% !important;
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}

.chat-container {
    background: rgba(255, 255, 255, 0.841);
    width:100%; 
    min-height:97vh; 
    max-height: 97vh;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.chat-container .username {
    font-weight: 800;
    color: #4682b4;
}

.chat-screen .you {
    font-weight: 800;
}

.chat-screen .recv-msg-div {
    word-break: break-word;
    background-color: #add8e6;
    float: left;
    clear: both;
    max-width:50%;
    border-radius:10px;
}

.card-footer {
    position:relative !important;
    margin-top: 1% !important;
}

.chat-screen .sent-msg-div {
    word-break: break-word;
    float: right;
    clear: both;
    min-width:15%;
    max-width:50%;
    border-radius:10px;
}

.chat-screen .time {
    text-align: right;
}